# EditorConfig 配置文件
# https://editorconfig.org

root = true

# 所有文件的默认设置
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Rust 文件
[*.rs]
indent_style = space
indent_size = 4
max_line_length = 100

# TOML 文件
[*.toml]
indent_style = space
indent_size = 2

# YAML 文件
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON 文件
[*.json]
indent_style = space
indent_size = 2

# Markdown 文件
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# HTML 文件
[*.html]
indent_style = space
indent_size = 2

# CSS/SCSS 文件
[*.{css,scss}]
indent_style = space
indent_size = 2

# JavaScript/TypeScript 文件
[*.{js,ts,jsx,tsx}]
indent_style = space
indent_size = 2
